<html lang="en">
    <head>
        <title>Verify Your Email</title>
        <style>

        </style>
    </head>
    <body>
        <div class="container">
            <img src="" alt="" />
            <h2 class="color-primary">{{subject}}</h2>
            <hr />
            <p>Hello {{name}},</p>
            <p>
                Please use the url below to verify your account. <br/> This link is valid for 24 hours
            </p>

            <a href={{link}} class="btn-link">Verify Account</a>

            <p style="margin-bottom: 50px;">
                If you did not create an account on StudyHive, you can ignore this email.
            </p>

            <hr />
            <p>Regards,</p>
            <p><b>AuthKit</b> Team</p>
            <div>
                <p style="font-size: 0.8rem;">
                    If you're having trouble clicking the "Verify Account" button, copy and paste the URL below into your web browser:
                    <br />
                    <a href={{link}}>{{link}}</a>
                </p>
            </div>
        </div>
    </body>
</html>